* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: black;
  }
  
  #container {
    position: relative;
    display: inline-block;
  }
  
  #healthoverlay {
    position: absolute;
    display: flex;
    width: 33%;
    align-items: center;
    padding: 20px;
  }
  
  #healthbar {
    position: relative;
    height: 30px;
    width: 100%;
  }
  
  #healthbackground {
    background-color: rgb(120, 0, 0);
    height: 30px;
  }
  
  #playerHealth{
    position: absolute;
    background: rgb(0, 170, 0);
    border-right: 2px solid white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .enemy-health-bar {
    position: absolute;
    background: red;
    height: 5px;
    width: 100%;
    bottom: -10px;
  }
  
  .enemy-health-background {
    background-color: rgb(60, 0, 0);
    height: 5px;
    width: 100%;
  }
  
  .ghost-health-bar {
    position: absolute;
    background: yellow;
    height: 5px;
    width: 100%;
    bottom: -10px;
  }
  
  .ghost-health-background {
    background-color: rgb(90, 90, 0);
    height: 5px;
    width: 100%;
  }